/*Custom CSS Style For The WordPress Dashboard In the Sandhills Stuidio Corporate Identity*/
:root{
	--gold-color:#9b865e;
	--darker-grey:#1a1a1a;
	--dark-grey:#232323;
	--lighter-grey:#252525;
	--lighter-dark-grey:#444;
	--light-grey-text:#aaa;
	--lighter-grey-text:#ccc;
	--white-grey-text:#eee;
	--white-text:#fff;
}
/*Body*/
body:not(.gutenberg-editor-page),body:not(.gutenberg-editor-page) #wpbody,body:not(.gutenberg-editor-page) #wpfooter{
	background-color:var(--dark-grey);
	color:var(--lighter-grey-text)
}
body:not(.gutenberg-editor-page) #wpbody p,body:not(.gutenberg-editor-page) #wpbody code,body:not(.gutenberg-editor-page) #wpbody kbd,body:not(.gutenberg-editor-page) #wpbody label,body:not(.gutenberg-editor-page) #wpbody .form-table th,body:not(.gutenberg-editor-page) #wpbody .form-wrap label,body:not(.gutenberg-editor-page) #wpbody .form-wrap p,body:not(.gutenberg-editor-page) #wpbody p.description,body:not(.gutenberg-editor-page) #wpbody .importer-title,body:not(.gutenberg-editor-page) #wpbody .menu-in-location,body:not(.gutenberg-editor-page) #wpbody .theme-location-set,body:not(.gutenberg-editor-page) #wpfooter p,body:not(.gutenberg-editor-page) #wpfooter code,body:not(.gutenberg-editor-page) #wpfooter kbd,body:not(.gutenberg-editor-page) #wpfooter label,body:not(.gutenberg-editor-page) #wpfooter .form-table th,body:not(.gutenberg-editor-page) #wpfooter .form-wrap label,body:not(.gutenberg-editor-page) #wpfooter .form-wrap p,body:not(.gutenberg-editor-page) #wpfooter p.description,body:not(.gutenberg-editor-page) #wpfooter .importer-title,body:not(.gutenberg-editor-page) #wpfooter .menu-in-location,body:not(.gutenberg-editor-page) #wpfooter .theme-location-set,body:not(.gutenberg-editor-page) #wpbody table p,body:not(.gutenberg-editor-page) #wpfooter table p,body:not(.gutenberg-editor-page) #wpbody table.widefat p,body:not(.gutenberg-editor-page) #wpfooter table.widefat p,body:not(.gutenberg-editor-page) #wpbody table.wp-list-table tr th,body:not(.gutenberg-editor-page) #wpbody table.wp-list-table tr td,body:not(.gutenberg-editor-page) #wpfooter table.wp-list-table tr th,body:not(.gutenberg-editor-page) #wpfooter table.wp-list-table tr td,body:not(.gutenberg-editor-page) #wpbody table.wp-list-table tr th *::before,body:not(.gutenberg-editor-page) #wpbody table.wp-list-table tr th *::after,body:not(.gutenberg-editor-page) #wpbody table.wp-list-table tr td *::before,body:not(.gutenberg-editor-page) #wpbody table.wp-list-table tr td *::after,body:not(.gutenberg-editor-page) #wpfooter table.wp-list-table tr th *::before,body:not(.gutenberg-editor-page) #wpfooter table.wp-list-table tr th *::after,body:not(.gutenberg-editor-page) #wpfooter table.wp-list-table tr td *::before,body:not(.gutenberg-editor-page) #wpfooter table.wp-list-table tr td *::after,body:not(.gutenberg-editor-page) #wpbody .tablenav p,body:not(.gutenberg-editor-page) #wpbody .tablenav span,body:not(.gutenberg-editor-page) #wpfooter .tablenav p,body:not(.gutenberg-editor-page) #wpfooter .tablenav span,body:not(.gutenberg-editor-page) #wpbody .subsubsub a span.count,body:not(.gutenberg-editor-page) #wpbody .subsubsub a.current span.count,body:not(.gutenberg-editor-page) #wpbody .subsubsub li a span.count,body:not(.gutenberg-editor-page) #wpbody .subsubsub li a.current span.count,body:not(.gutenberg-editor-page) #wpfooter .subsubsub a span.count,body:not(.gutenberg-editor-page) #wpfooter .subsubsub a.current span.count,body:not(.gutenberg-editor-page) #wpfooter .subsubsub li a span.count,body:not(.gutenberg-editor-page) #wpfooter .subsubsub li a.current span.count,body:not(.gutenberg-editor-page) #wpbody .subsubsub,body:not(.gutenberg-editor-page) #wpbody .subsubsub li,body:not(.gutenberg-editor-page) #wpfooter .subsubsub,body:not(.gutenberg-editor-page) #wpfooter .subsubsub li,body:not(.gutenberg-editor-page) #wpbody .tablenav p,body:not(.gutenberg-editor-page) #wpbody .tablenav span,body:not(.gutenberg-editor-page) #wpfooter .tablenav p,body:not(.gutenberg-editor-page) #wpfooter .tablenav span{
	color:var(--lighter-grey-text)
}
body:not(.gutenberg-editor-page) #wpbody table,body:not(.gutenberg-editor-page) #wpfooter table{
	background-color:var(--dark-grey);
	border-color:var(--lighter-grey)
}
body:not(.gutenberg-editor-page) #wpbody table tr,body:not(.gutenberg-editor-page) #wpfooter table tr,body:not(.gutenberg-editor-page) #wpbody table.striped tbody tr:nth-child(odd),body:not(.gutenberg-editor-page) #wpfooter table.striped tbody tr:nth-child(odd),body:not(.gutenberg-editor-page) #wpbody table.plugins .active td,body:not(.gutenberg-editor-page) #wpbody table.plugins .active th,body:not(.gutenberg-editor-page) #wpfooter table.plugins .active td,body:not(.gutenberg-editor-page) #wpfooter table.plugins .active th{
	background-color:var(--dark-grey)
}
body:not(.gutenberg-editor-page) #wpbody table tr th,body:not(.gutenberg-editor-page) #wpbody table tr td,body:not(.gutenberg-editor-page) #wpfooter table tr th,body:not(.gutenberg-editor-page) #wpfooter table tr td{
	background-color:var(--lighter-grey);
	color:var(--lighter-grey-text)
}
body:not(.gutenberg-editor-page) #wpbody table.widefat,body:not(.gutenberg-editor-page) #wpfooter table.widefat{
	border-color:var(--lighter-dark-grey)
}
body:not(.gutenberg-editor-page) #wpbody table.widefat thead th,body:not(.gutenberg-editor-page) #wpbody table.widefat thead td,body:not(.gutenberg-editor-page) #wpbody table.widefat tfoot th,body:not(.gutenberg-editor-page) #wpbody table.widefat tfoot td,body:not(.gutenberg-editor-page) #wpfooter table.widefat thead th,body:not(.gutenberg-editor-page) #wpfooter table.widefat thead td,body:not(.gutenberg-editor-page) #wpfooter table.widefat tfoot th,body:not(.gutenberg-editor-page) #wpfooter table.widefat tfoot td{
	border-color:#1e1e1e;
	color:var(--lighter-grey-text)
}
body:not(.gutenberg-editor-page) #wpbody table.striped tbody tr,body:not(.gutenberg-editor-page) #wpfooter table.striped tbody tr,body:not(.gutenberg-editor-page) #wpbody table.wp-list-table tr,body:not(.gutenberg-editor-page) #wpfooter table.wp-list-table tr,body:not(.gutenberg-editor-page) #wpbody table.updates-table tr,body:not(.gutenberg-editor-page) #wpfooter table.updates-table tr{
	background-color:var(--lighter-dark-grey)
}
body:not(.gutenberg-editor-page) #wpbody table.plugins tr.active+tr.inactive td,body:not(.gutenberg-editor-page) #wpbody table.plugins tr.active+tr.inactive th,body:not(.gutenberg-editor-page) #wpbody table.plugins tr.active.plugin-update-tr+tr.inactive td,body:not(.gutenberg-editor-page) #wpbody table.plugins tr.active.plugin-update-tr+tr.inactive th,body:not(.gutenberg-editor-page) #wpfooter table.plugins tr.active+tr.inactive td,body:not(.gutenberg-editor-page) #wpfooter table.plugins tr.active+tr.inactive th,body:not(.gutenberg-editor-page) #wpfooter table.plugins tr.active.plugin-update-tr+tr.inactive td,body:not(.gutenberg-editor-page) #wpfooter table.plugins tr.active.plugin-update-tr+tr.inactive th{
	box-shadow:inset 0 1px 0 rgba(0,0,0,.02),inset 0 -1px 0 var(--dark-grey)
}
body:not(.gutenberg-editor-page) #wpbody table.updates-table tr,body:not(.gutenberg-editor-page) #wpfooter table.updates-table tr{
	background-color:#333
}
body:not(.gutenberg-editor-page) #wpbody .subsubsub a,body:not(.gutenberg-editor-page) #wpbody .subsubsub li a,body:not(.gutenberg-editor-page) #wpfooter .subsubsub a,body:not(.gutenberg-editor-page) #wpfooter .subsubsub li a{
	color:var(--gold-color)
}
body:not(.gutenberg-editor-page) #wpbody .subsubsub a.current,body:not(.gutenberg-editor-page) #wpbody .subsubsub li a.current,body:not(.gutenberg-editor-page) #wpfooter .subsubsub a.current,body:not(.gutenberg-editor-page) #wpfooter .subsubsub li a.current,body:not(.gutenberg-editor-page) #wpbody .tablenav .tablenav-pages a span,body:not(.gutenberg-editor-page) #wpfooter .tablenav .tablenav-pages a span,body:not(.gutenberg-editor-page) #wpbody .tablenav .tablenav-pages a span,body:not(.gutenberg-editor-page) #wpfooter .tablenav .tablenav-pages a span{
	color:var(--white-grey-text)
}
body:not(.gutenberg-editor-page) #wpbody .tablenav .tablenav-pages-navspan,body:not(.gutenberg-editor-page) #wpfooter .tablenav .tablenav-pages-navspan{
	background:var(--dark-grey);
	border-color:var(--lighter-grey);
	color:var(--lighter-grey-text)
}
body:not(.gutenberg-editor-page) #wpbody .tablenav .tablenav-pages a,body:not(.gutenberg-editor-page) #wpfooter .tablenav .tablenav-pages a{
	background:#666;
	border:1px solid var(--lighter-grey)
}
body:not(.gutenberg-editor-page) #wpbody .tablenav .tablenav-pages a:hover,body:not(.gutenberg-editor-page) #wpfooter .tablenav .tablenav-pages a:hover{
	background:var(--gold-color);
	border-color:var(--lighter-grey)
}
body:not(.gutenberg-editor-page) #wpbody .notice,body:not(.gutenberg-editor-page) #wpbody .error,body:not(.gutenberg-editor-page) #wpbody .updated,body:not(.gutenberg-editor-page) #wpbody .update-nag,body:not(.gutenberg-editor-page) #wpfooter .notice,body:not(.gutenberg-editor-page) #wpfooter .error,body:not(.gutenberg-editor-page) #wpfooter .updated,body:not(.gutenberg-editor-page) #wpfooter .update-nag{
	background-color:var(--darker-grey)
}
#wp-auth-check-wrap #wp-auth-check{
	background-color:var(--darker-grey)
}
/*Login*/
.login #login_error,.login .message,.login .success,.plugin-update-tr.active td, .plugins .active th.check-column{
	border-left-color:var(--gold-color);
}
/*Footer*/
#wpcontent a,#wpfooter a{
	border-bottom:1px solid rgba(255,255,255,0);
	border-radius:3px;
	transition:all .3s ease;
	text-decoration:none;
}

#wpcontent a:active,#wpcontent a:focus,#wpcontent a:hover{
	border-color:var(--white-text);
	text-shadow:0 0 .3em var(--white-text)
}

a,a:active,a:focus,a:hover{
	color:var(--white-text)
}
h1{color:var(--gold-color)}
h2,h3,.form-table th,.form-wrap label{color:var(--white-text)}
/*Inputs*/
input[type=checkbox],input[type=checkbox]:checked::before,input[type="radio"],input[type=checkbox]:focus,input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=radio]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,select:focus,textarea:focus{
	background:transparent;
	border:2px solid var(--gold-color);
	box-shadow:none;
	border-radius:6px;
	width:16px;
	height:16px;
	top:1px;
	left:2px;
	position:relative
}
input[type=checkbox]:checked::before{
	content:"";
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTczLjkgNDM5LjRMNy41IDI3M2MtMTAtMTAtMTAtMjYuMiAwLTM2LjJsMzYuMi0zNi4yYzEwLTEwIDI2LjItMTAgMzYuMiAwTDE5MiAzMTIuNyA0MzIuMSA3Mi42YzEwLTEwIDI2LjItMTAgMzYuMiAwbDM2LjIgMzYuMmMxMCAxMCAxMCAyNi4yIDAgMzYuMkwyMTAuMSA0MzkuNGMtMTAgMTAtMjYuMiAxMC0zNi4yIDB6Ii8+PC9zdmc+);
	background-color:var(--gold-color);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:80%;
	width:12px;
	height:12px;
}
input[type=radio]:checked::before{
	background:var(--gold-color);
	margin:2px
}
/*Scrollbar*/
::-webkit-scrollbar{width:12px;height:12px;background-color:#1c1c1c}
::-webkit-scrollbar-corner{background-color:#1c1c1c}
::-webkit-scrollbar-track{background-color:#1c1c1c}
::-webkit-scrollbar-thumb{background:var(--gold-color)}
/*Selection*/
::selection{color:var(--white-text);background-color:var(--gold-color)}
::-moz-selection{color:var(--white-text);background-color:var(--gold-color)}
/*End*/
