body.login{
	background-color:#202020;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNzkwIDM2NC42Ij48cGF0aCBmaWxsPSIjMWExYTFhIiBkPSJNNjY0LjMgMjAwLjVsMzMxLjUgNjIuOUwxODU4LjcgMCAyNzkwIDM2NC42SDB6Ii8+PC9zdmc+);
	background-repeat:no-repeat;
	background-position:bottom;
	background-size:110%
}
body.login h1 a{
	background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNjUiIGhlaWdodD0iNjAiPjxnIGZpbGw9IiNmZmYiPjxwYXRoIGQ9Ik0zOC42IDI1LjRhMTUuNCAxNS40IDAgMCAwLTcuNCAxMC45IDY4LjIgNjguMiAwIDAgMSAxNi45LTVsLjEtLjMtNy42LTYuMSA4LjktMTguNSAyNC45IDUwSDQ0LjZsMTMuOCAxLjJoMTguNEw0OS43IDMuMSAzOC42IDI1LjR6Ii8+PHBhdGggZD0iTTIzIDI0LjRsOCAxNS40Yy4yIDMuMSAxLjIgNS45IDMgOC40LjcgMSAxLjUgMS44IDIuMyAyLjdsLjMtLjJjLjctNS44IDIuMS0xMS41IDQuMy0xNi45bC0uMi0uM2EzMDUuMiAzMDUuMiAwIDAgMS05LjMgMy42bC04LjMtMTYuNS0xOC4yIDM3aDIyLjNsMTMuNy0xLjJINy4xbDE1LjktMzJ6TTI0My41IDI2aDEuN3YxM2gtMS43ek0xMTggMjljLS4xLS43LS4zLTEuMy0uNi0xLjhzLS43LS44LTEuMi0xLjFjLS41LS4zLTEuMS0uNC0xLjgtLjQtMS4xIDAtMi4yLjMtMy4yLjktMSAuNi0xLjggMS40LTIuMyAyLjNWMjZoLTEuNXYxM2gxLjd2LThjLjEtLjUuNC0xIC43LTEuNS4zLS41LjctLjggMS4xLTEuMi40LS40LjktLjYgMS40LS44bDEuNS0uM2MuOSAwIDEuNi40IDIuMSAxLjFzLjcgMS45LjcgMy40VjM5aDEuN2wtLjEtNy43LS4yLTIuM3ptLTI4LjcgMS45bC0xLjktLjktMi42LS43YTEyIDEyIDAgMCAxLTIuMi0uNWMtLjYtLjItMS4xLS40LTEuNS0uN2wtLjktLjljLS4yLS4zLS4zLS44LS4zLTEuMyAwLTEgLjQtMS44IDEuMS0yLjRzMS44LS45IDMuNC0uOWMxLjEgMCAyLjEuMSAyLjkuNWE2IDYgMCAwIDEgMiAxLjRsLjctMS42YTcgNyAwIDAgMC0yLjUtMS41IDEwLjcgMTAuNyAwIDAgMC01LjctLjJjLS44LjItMS40LjYtMiAxLS42LjQtMSAxLTEuMyAxLjYtLjMuNy0uNSAxLjQtLjUgMi4yIDAgLjcuMiAxLjMuNCAxLjguMy41LjYgMSAxLjEgMS4zYTUgNSAwIDAgMCAxLjguOWMuNy4zIDEuNi41IDIuNS43YTM3LjIgMzcuMiAwIDAgMSA0IDEuM2MuNC4zLjguNiAxIDFzLjMuOC4zIDEuNGMwIDEtLjQgMS44LTEuMiAyLjMtLjguNS0xLjkuOC0zLjMuOGExMi4zIDEyLjMgMCAwIDEtMy43LS43Yy0uNi0uMi0xLjEtLjUtMS41LS44bC0xLjEtLjktLjkgMS40YzIgMS43IDQuMyAyLjYgNy4xIDIuNiAxIDAgMS44LS4xIDIuNi0uMy44LS4yIDEuNC0uNSAyLS45LjUtLjQgMS0uOSAxLjMtMS41LjMtLjYuNS0xLjMuNS0yLjFzLS4xLTEuNS0uNC0yYy0uMy0uNi0uNy0xLjEtMS4yLTEuNHptMTQuMiA1Ljl2LTUuOWMwLTEuNi0uNS0yLjktMS40LTMuOGE1LjIgNS4yIDAgMCAwLTMuOC0xLjQgOSA5IDAgMCAwLTQuOSAxLjdsLjYgMS4xIDIuMS0xLjJjLjctLjMgMS40LS40IDIuMS0uNCAxLjIgMCAyLjEuMyAyLjcgMSAuNy42IDEgMS41IDEgMi43djEuMmwtMS44LS41LTItLjJjLS44IDAtMS41LjEtMi4yLjNsLTEuNy44Yy0uNS40LS44LjgtMS4xIDEuM2EzIDMgMCAwIDAtLjQgMS42IDMuOCAzLjggMCAwIDAgMS4yIDIuOSA0LjIgNC4yIDAgMCAwIDMuMSAxLjJjMS4xIDAgMi4xLS4yIDIuNy0uNS45LS40IDEuNy0xIDIuMy0xLjh2MWMwIC40LjIuNy40LjlzLjYuMyAxIC4zbC43LS4xdi0xLjVjLS40IDAtLjYtLjItLjYtLjd6bS0xLjYtMS43bC0uMS41YzAgLjItLjEuMy0uMy41LS40LjUtMSAxLTEuNyAxLjNhNiA2IDAgMCAxLTIuNC41bC0xLjQtLjJhMiAyIDAgMCAxLTEtLjZsLS42LS45LS4yLTEuMWMwLS44LjQtMS41IDEuMS0yczEuNy0uOCAyLjktLjhsMS45LjIgMS44LjV2Mi4xek01Mi44IDUyLjljLjIuMi44LjEgMS4yIDBhMTUuOCAxNS44IDAgMCAwIDguMy0xMS41IDcyLjYgNzIuNiAwIDAgMS0xNyA1LjJsNy41IDYuM3oiLz48cGF0aCBkPSJNMzkuMSA0MS41bC0xLjYgOS43YzAgLjIuMi42LjQuN2ExNiAxNiAwIDAgMCAxNC40IDEuNyA2Ni44IDY2LjggMCAwIDEtMTIuOC0xMi4xaC0uNHptMjMtLjljLjItLjEuNC0uNS40LS43LjQtNS4zLTEuNi05LjYtNS43LTEzLjMtLjcgNi4xLTIgMTEuOC00LjEgMTcuNGw5LjQtMy40em0tNi42LTE1YTE1LjIgMTUuMiAwIDAgMC04LTIuNmMtMi4xIDAtNC4xLjMtNi4yIDFhNjcgNjcgMCAwIDEgMTIuOCAxMi4xaC4zbDEuNi05LjZjMC0uMi0uMi0uNy0uNS0uOXptNzguMSAxMS4xdi0xNmgtMS43djhhOCA4IDAgMCAwLTItMi4xYy0uOC0uNi0xLjgtLjktMi45LS45YTUgNSAwIDAgMC0yLjQuNWMtLjguNC0xLjQuOS0xLjkgMS41LS41LjctLjkgMS40LTEuMiAyLjItLjQuOC0uNSAxLjctLjUgMi42IDAgLjguMiAxLjcuNSAyLjVzLjcgMS41IDEuMyAyLjFjLjYuNiAxLjIgMS4xIDIgMS41LjguNCAxLjYuNiAyLjUuNiAxIDAgMS44LS4yIDIuNy0uN3MxLjYtMS4xIDIuMS0ydjEuM2MwIC4zLjEuNi40LjlzLjcuNCAxLjEuNGwuNi0uMXYtMS42Yy0uNCAwLS42LS4yLS42LS43em0tMS43LTIuM2MwIC41LS4yLjktLjUgMS4zbC0xLjEgMS0xLjMuN2EzIDMgMCAwIDEtMS4zLjNjLS43IDAtMS4zLS4xLTItLjQtLjYtLjItMS4xLS42LTEuNS0xLjFsLTEtMS43Yy0uMy0uNi0uNC0xLjMtLjQtMnMuMS0xLjQuMy0yYy4yLS42LjUtMS4yLjktMS43cy45LS45IDEuNS0xLjJjLjYtLjQgMS4yLS41IDEuOS0uNWE1LjQgNS40IDAgMCAxIDIuNyAxbDEuMSAxIC43IDEuM3Y0em0xMjguNS00LjZjLS4zLS44LS43LTEuNS0xLjMtMi4xYTYuMiA2LjIgMCAwIDAtMi0xLjUgNyA3IDAgMCAwLTUuMiAwYy0uNy40LTEuNC45LTIgMS41LS41LjYtMSAxLjMtMS4zIDIuMS0uMy44LS41IDEuNy0uNSAyLjYgMCAuOS4yIDEuOC41IDIuNi4zLjkuNyAxLjYgMS4zIDIuMmE1IDUgMCAwIDAgMiAxLjUgNi42IDYuNiAwIDAgMCA1LjEgMCA4IDggMCAwIDAgMi4xLTEuNWMuNS0uNyAxLTEuNCAxLjMtMi4ycy41LTEuNy41LTIuNmMwLS45LS4yLTEuOC0uNS0yLjZ6bS0xLjYgNC42YTQuOCA0LjggMCAwIDEtMi41IDIuOGMtLjUuMy0xLjEuNC0xLjguNGE0IDQgMCAwIDEtMS44LS40Yy0uNi0uMy0xLjEtLjYtMS41LTEuMS0uNC0uNC0uNy0xLTEtMS42cy0uNC0xLjMtLjQtMiAuMS0xLjQuNC0yLjFjLjItLjcuNi0xLjIgMS0xLjdsMS41LTEuMWMuNS0uMyAxLjItLjQgMS44LS40LjYgMCAxLjIuMiAxLjguNC42LjIgMS4xLjYgMS41IDEuMWwxIDEuN2MuMy42LjQgMS4zLjQgMnMtLjEgMS40LS40IDJ6bS0zNC43IDIuNFYyNmgtMS43djguMmE1LjMgNS4zIDAgMCAxLTEuOSAyLjYgNS40IDUuNCAwIDAgMS0yLjggMWMtMiAwLTMtMS40LTMtNC40VjI2SDIxM3Y3LjZjMCAxLjkuMyAzLjMgMSA0LjIuNy45IDEuOCAxLjQgMy4yIDEuNCAxLjEgMCAyLjEtLjMgMy0uOCAxLS42IDEuNy0xLjQgMi4zLTIuNHYxLjVjMCAuNS4xLjkuNCAxLjEuMy4yLjYuNCAxIC40aC44di0xLjVjLS40IDAtLjYtLjItLjYtLjd6bS0xNC4yLjRsLTEuMy4yYTIgMiAwIDAgMS0xLjEtLjNjLS4zLS4zLS41LS42LS41LTEuMXYtOC44aDN2LTEuNGgtM3YtNC40aC0xLjd2NC40aC0xLjh2MS40aDEuOHY5LjNjMCAuNCAwIC44LjIgMS4xLjEuMy4zLjYuNi44bC45LjUgMSAuMiAxLS4xLjktLjIuNy0uMy40LS4yLS40LTEuNC0uNy4zem0tOS40LTYuM2wtMS45LS45LTIuNi0uN2ExMiAxMiAwIDAgMS0yLjItLjVjLS42LS4yLTEuMS0uNC0xLjUtLjdsLS45LS45Yy0uMi0uMy0uMy0uOC0uMy0xLjMgMC0xIC40LTEuOCAxLjEtMi40czEuOC0uOSAzLjQtLjljMSAwIDIgLjEgMi44LjVhNiA2IDAgMCAxIDIgMS40bC44LTEuNmE3IDcgMCAwIDAtMi41LTEuNSAxMC43IDEwLjcgMCAwIDAtNS44LS4yYy0uOC4yLTEuNC42LTIgMS0uNi40LTEgLjktMS4zIDEuNnMtLjUgMS40LS41IDIuMmMwIC43LjIgMS4zLjQgMS44LjMuNS42IDEgMS4xIDEuM2E1IDUgMCAwIDAgMS44LjljLjcuMyAxLjYuNSAyLjUuN2EzNy4yIDM3LjIgMCAwIDEgNCAxLjNjLjQuMy44LjYgMSAxcy4zLjguMyAxLjRjMCAxLS40IDEuOC0xLjIgMi4zLS44LjUtMS45LjgtMy4zLjhhMTIuMyAxMi4zIDAgMCAxLTMuNi0uN2MtLjYtLjItMS4xLS41LTEuNS0uOGwtMS4xLS45LS45IDEuNGMyIDEuNyA0LjMgMi42IDcuMSAyLjYgMSAwIDEuOC0uMSAyLjYtLjNzMS40LS41IDItLjljLjUtLjQgMS0uOSAxLjMtMS41LjMtLjYuNS0xLjMuNS0yLjFzLS4xLTEuNS0uNC0yYy0uMy0uNi0uNy0xLjEtMS4yLTEuNHptNDMtMTAuMmgxLjd2Mi41aC0xLjd6bS00My4xIDMuOHptMzkuMiAxMi4ydi0xNmgtMS43djhhOCA4IDAgMCAwLTItMi4xYy0uOC0uNi0xLjgtLjktMi45LS45LS45IDAtMS43LjEtMi40LjVzLTEuNC45LTEuOSAxLjVjLS41LjctLjkgMS40LTEuMiAyLjItLjMuOC0uNSAxLjctLjUgMi42IDAgLjguMiAxLjcuNSAyLjVzLjcgMS41IDEuMyAyLjFjLjYuNiAxLjIgMS4xIDIgMS41YTUuNCA1LjQgMCAwIDAgNS4yLS4xIDUgNSAwIDAgMCAyLjEtMnYxLjNjMCAuMy4yLjYuNS45LjIuMy42LjQgMSAuNGwuNi0uMXYtMS42Yy0uNCAwLS42LS4yLS42LS43em0tMS43LTIuM2MwIC41LS4yLjktLjUgMS4zbC0xLjEgMS0xLjMuN2EzIDMgMCAwIDEtMS4zLjNjLS43IDAtMS40LS4yLTItLjQtLjYtLjItMS4xLS42LTEuNS0xLjFsLTEtMS43Yy0uMy0uNi0uNC0xLjMtLjQtMnMuMS0xLjQuMy0yIC41LTEuMi45LTEuNy45LS45IDEuNS0xLjJjLjYtLjQgMS4yLS41IDEuOS0uNWE1LjQgNS40IDAgMCAxIDIuNyAxbDEuMSAxIC43IDEuM3Y0em0tODUuOC0xMy43aDEuN3YyLjVoLTEuN3ptMCA1LjNoMS43djEzaC0xLjd6bTI2LjggN2EzMi44IDMyLjggMCAwIDAtMy44LTEuM2wtMS41LS40YTMgMyAwIDAgMS0xLS40bC0uNi0uNi0uMi0uOGMwLS40LjEtLjguMy0xLjFsLjctLjhhMyAzIDAgMCAxIDEtLjRsMS4zLS4xYy44IDAgMS41LjIgMi4yLjRzMS4zLjYgMS44IDEuMWwuOC0xYy0uNS0uNS0xLjItMS0yLTEuMy0uOC0uMy0xLjctLjUtMi43LS41LS43IDAtMS4zLjEtMS45LjMtLjUuMS0xLjEuNC0xLjUuN2E0IDQgMCAwIDAtMSAxLjIgMyAzIDAgMCAwLS40IDEuN2MwIC41LjEgMSAuMyAxLjMuMi40LjQuNy44LjlhMTkuNiAxOS42IDAgMCAwIDMuNCAxLjJsMS43LjQgMS4yLjVjLjMuMS41LjQuNy42LjIuMi4zLjUuMy45YTIgMiAwIDAgMS0uOSAxLjhjLS42LjQtMS41LjYtMi41LjYtLjggMC0xLjctLjItMi40LS41cy0xLjUtLjctMi4yLTEuM2wtLjggMS4xYy43LjcgMS41IDEuMiAyLjUgMS41czIgLjUgMyAuNWMxLjUgMCAyLjctLjMgMy4zLS45LjktLjcgMS40LTEuNyAxLjQtMi45IDAtLjYtLjEtMS0uMy0xLjRsLTEtMXptLTMxLjMtNS44bC0xLjMtMS4xYy0uNS0uMy0xLjEtLjQtMS45LS40LTEuMSAwLTIuMS4zLTMgLjktLjkuNS0xLjYgMS4zLTIuMSAyLjN2LTguMmgtMS43djE4LjRoMS43di04bC43LTEuNWMuMy0uNS43LS45IDEuMS0xLjJsMS4zLS44Yy40LS4yLjktLjMgMS40LS4zLjkgMCAxLjcuNCAyLjIgMS4xLjUuNy44IDEuOC44IDMuM1YzOWgxLjd2LTcuN2MwLS44IDAtMS42LS4yLTIuMy0uMS0uNy0uNC0xLjMtLjctMS44em0xMy45IDEwLjJsLS43LjFjLS41IDAtLjgtLjItMS4xLS40LS4zLS4yLS40LS42LS40LTEuMVYyMC43aC0xLjd2MTUuN2MwIC44LjIgMS41LjcgMS45LjQuNSAxIC43IDEuOC43bDEuMi0uMSAxLjItLjMtLjMtMS40LS43LjJ6bTYuOCAwbC0uNy4xYy0uNSAwLS44LS4yLTEuMS0uNC0uMy0uMi0uNC0uNi0uNC0xLjFWMjAuN2gtMS43djE1LjdjMCAuOC4yIDEuNS43IDEuOS40LjUgMSAuNyAxLjguN2wxLjItLjEgMS4yLS4zLS4zLTEuNC0uNy4yeiIvPjwvZz48L3N2Zz4=);
	width:100%;
	background-size:contain;
	background-repeat:no-repeat;
	margin:0;
	outline:none;
	box-shadow:unset;
}
body.login h1:hover a{opacity:.8}
body.login div#login form#loginform{
	background:#282828;
	border-radius:5px;
	box-shadow:0 4px 10px rgba(0,0,0,.2);
	margin:10px 0 0;
	padding:25px;
}
body.login div#login form#loginform p label{color:#919191}
body.login div#login form#loginform input{
	background:#333;
	border-radius:5px;
	color:#919191;
	border:none;
	box-shadow:unset;
	padding:6px 16px;
}
body.login div#login form#loginform input[type=checkbox]:checked:before{color:#9b865e}
body.login div#login form#loginform p.submit input#wp-submit{
	background-color:#9b865e;
	color:#fff;
	font-size:18px;
	text-shadow:unset;
	text-transform:capitalize;
	border-radius:5px;
	border:2px solid #9b865e;
	line-height:0;
	transition:all .3s ease;
	padding:16px;
}
body.login div#login form#loginform p.submit input#wp-submit:hover{
	background-color:rgba(32,32,32,.32);
	color:#9b865e;
	border-color:#9b865e;
}
.login #nav,.login .privacy-policy-page-link{display:none}
.login #backtoblog{
	width:100%;
	padding:0;
	text-align:center;
}
.login .privacy-policy-page-link{margin:1em 0}
/*Managed By*/
body.login h1{position:relative}
body.login h1:before{
	content:"Managed by";
	display:inline-block;
	color:#d2d2d2;
	line-height:1;
	font-size:14px;
	font-weight:400;
	left:82px;
	top:-20px;
	position:absolute;
	padding:12px;
	border-radius:5px;
	opacity:0;
	transition:all .3s ease;
}
body.login h1:hover:before{opacity:1;top:-10px}
/*Messages*/
.login #login_error, .login .message, .login .success{
	background:#333;
	color:#919191;
}
/*BPS Tooltip*/
.ui-tooltip.bps-custom-tooltip-style{
	color:#919191!important;
	background-color:#333!important;
	border-radius:5px;
	box-shadow:0 3px 10px rgba(0,0,0,.4)!important;
	padding:12px 7px!important;
}
/*Anchors*/
a,.ie8 a:focus{color:#919191;outline:0;transition:all .3s ease}
a:active,a:hover,a:focus,.login #backtoblog a:hover,.login #nav a:hover,.login h1 a:hover,.login #backtoblog a:focus, .login #nav a:focus, .login h1 a:focus{color:#9b865e;box-shadow:unset}
/*Selection*/
::selection{color:#fff;background-color:#9b865e}
::-moz-selection{color:#fff;background-color:#9b865e}